
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Sanchez&display=swap');

/* common styles-poppins */
.influencer{
    font-size: 15px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/* .flexible-container{
    display: flex;
} */
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Sanchez', serif;
    background: white;
}
.first-container{
    background:white;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
   
}
.section-title1{
    color: black;
    font-size: 35px;
    font-weight: 800 ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.container{
    background:rgba(173, 171, 171, 0.39);
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 45px;


}
.link-button{
    color: rgb(221, 9, 115);
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

        /* top start-flex style */
        .top-start-flex{
            margin-bottom: 30px;
        }
        .section-title{
            color: #562EFF;
            font-size: 24px;
            margin-top: 3px;
            text-align: center;

        }
        .padd{
            padding-right: 100px;
        }
        .start-flex{
           /* display: grid;
            grid-template-columns: repeat(2, 1fr);
             grid-column-gap: 200px; */
       display:flex;
 
        }

        .camera-image {
            display: flex;
            align-items: center;
        }

        .camera-image img {
          
            width: 300px;
            height: 300px;
            background-color: rgba(128, 128, 128, 0.123);
            border-radius: 30px;
        }
        .camera-image-name{
            margin-left: 16px;
            font-size: 18px;
        }
        hr{
            
         border: 1px solid #D1D1D1;
         margin-bottom: 27px;
        }


/*-----------------
 collections style
 ---------------- */
 .collections{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 24px;
     grid-row-gap: 24px;
     
 }
 .collection{
    background-color:white;

 }
 .collection .collection-banner img{
     width: 250px;
     height: 200px;
     padding-left: 12px;
     padding-top: 12px;
 }
 .collection-info{
     display: flex;
     /* justify-content: space-between; */
     /* background-color: pink; */
 }
 .collection-detail{
     padding-left: 12px;
     padding-bottom: 12px;
 }
 .fa-star{
     font-size: 12px;
 }
 .fa-star.filled{
     color: rgba(216, 216, 25, 0.904);
 }
 .fa-star.empty{
    color:thistle;
}
.collection-duration{
    background-color: pink;
    border-radius: 5px;
}
.see{
    color: rgb(221, 9, 115);
    text-align: end;
}
.flexible-container{

    display:flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-right: 5%;
}
.half-width img{
    width: 70%;
    margin-top: 10px;
    padding-left: 13%;
  
}
.link-button{
    text-decoration: none;
 background-image: linear-gradient(rgb(230, 44, 130),rgb(226, 32, 139));
 font-weight: 900;
    padding: 10px 20px ;
    border-radius: 15px;
    color:white;
}
footer {
    padding-top:50px;
    text-align: center;
    /* padding: 3px; */
    background-color:rgb(41, 14, 66);
    color: white;
    width:100%;
    height:200px;
  }
  footer p{
    padding-top:10px;
  }
  .icons{
    display: grid;
    padding-left: 450px;
    grid-template-columns: repeat(4,0.05fr);
    grid-column-gap: 1px;
    grid-row-gap: 2px;
    
    
}
/* media quaries ............mobile devices*/
@media only screen and (max-width:688px) {
    .first-container, .container{
    width:90%;
    }
    .start-flex .collections {
        grid-template-columns: repeat(1,1fr);}
    footer{
        width:200%;
    }    

.collections {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;width:200%;
}
    
   /* .camera-image{
        flex-direction: column;
    } */
    
    
}
/*mtablet devices*/
@media only screen and (min-width:688px) and  (max-width:992px)  {
    .first-container, .container{
        width:50%;
    }
    /* .camera-image .collections {
        grid-template-columns: repeat(2,1fr);
    } */
   
    .start-flex{
        flex-direction: column;
        align-items: center;width:50%;
        align-content: flex-end;
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;width:50%;
    }
    .padd{
        padding-right:10px;
        padding-right: 30px;width:50%;
    }
}




